@page "/weather"
@inherits SwrSharpComponentBase

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data with <code>UseQuery</code>.</p>

@if (_forecasts.IsPending)
{
    <p><em>Loading...</em></p>
}
else if (_forecasts.IsError)
{
    <div class="alert alert-danger">Error: @_forecasts.Error?.Message</div>
}
else if (_forecasts.IsSuccess)
{
    @if (_forecasts.IsFetchingBackground)
    {
        <p><em>Refreshing in background...</em></p>
    }

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in _forecasts.Data!)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>

    <button class="btn btn-outline-primary" @onclick="async () => await _forecasts.RefetchAsync()">
        Refetch
    </button>
}

@code {
    private UseQuery<WeatherForecast[]> _forecasts = null!;

    private static readonly string[] Summaries =
        ["Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching"];

    protected override void OnParametersSet()
    {
        _forecasts = UseQuery(new QueryOptions<WeatherForecast[]>(
            queryKey: new QueryKey("weather"),
            queryFn: async _ =>
            {
                // Simulate API call
                await Task.Delay(500);
                var startDate = DateOnly.FromDateTime(DateTime.Now);
                return Enumerable.Range(1, 5).Select(index => new WeatherForecast
                {
                    Date = startDate.AddDays(index),
                    TemperatureC = Random.Shared.Next(-20, 55),
                    Summary = Summaries[Random.Shared.Next(Summaries.Length)]
                }).ToArray();
            },
            staleTime: TimeSpan.FromSeconds(30)
        ));
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; init; }
        public int TemperatureC { get; init; }
        public string? Summary { get; init; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
